*
{
	margin: 0px;
	padding: 0px;
}

body
{
	background-color: #339999;
	color: #222;
	font-family: helvetica;
	height: 100%;
}

#insert-data-output
{
	display: none;
}

h1
{
	text-align: center;
	font-size: 45px;
	color: #4482c9;
}

.boxb
{
	height: 50px;
	line-height: 50px;
}

.boxl
{
	height: 50px;
	line-height: 30px;
	background-color: yellow;
}

#username
{
	text-align: left;
	line-height: 25px;
	height: 25px;
}

#userimg
{
	float: right;
}

#survey
{
	text-align: left;
	line-height: 25px;
	height: 25px;
}
.boxp
{
	text-align: left;
	line-height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
}

.boxp p
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#wrapper
{
	width: 300px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

#map, #pict, h1, .boxb, .boxp, #error, #status, .boxl, .done
{ 
	background: #fff; 
	border: 4px solid #fff; 
	position: relative; 
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	-o-border-radius: 4px; 
	border-radius: 4px; 
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	margin-bottom: 7px;
}

#map, #pict, #pict img, 
{
	height: 200px;
}


.flexslider .slides li img
{
	height: 300px;
}

.flexslider .slides li p
{
	padding: 10px;
	width: 270px;
	text-align: center;
	height: 40px;
	line-height: 40px;
}

.flexslider
{
	height: 360px;
}

select
{
	height: 50px;
	width: 300px;
	font-size: 16px;
}

#tree
{
	height: 50px;
	width: 290px;
	font-size: 20px;
}

input[type="file"]
{
	height: 0px;
	width: 300px;
}

#upload-button
{
	height: 50px;
	width: 300px;
	background-color: #ff9e00;
	font-size: 20px;
}

textarea
{
	height: 100px;
	width: 290px;
}

#pict img
{
	width: 292px;
}

.google
{
 background: transparent url("../images/google.png") 0 0 no-repeat;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    height: 57px; /* height of the background image */
    width: 300px; /* width of the background image */
	border: none;
    
}

#error
{
	background-color: red;
	color: white;
	padding: 10px;
}

#status
{
	background-color: green;
	color: black;
	padding: 10px;
}